body {
    background-color: rgb(236, 247, 249);
    font-family: Century Gothic;
    border-style: none none none solid;
    border-width: 100px;
    border-color: PowderBlue;
}

#name {
    background-color: PowderBlue;
    border-style: none;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

h1.sections {
    background-color: PowderBlue;
    border-style: none none solid none;
    border-color: rgb(41, 57, 75);
    text-transform: uppercase;
}

.smalltext {
    font-size: 13px;
    font-style: normal;
    color: white;
}


p.italics {
    font-style: italic;
    font-weight: lighter;
    color: rgb(41, 57, 75);
}

p.maintext {
    color: rgb(41, 57, 75);
    padding-left: 5px;
}
    

ul{
    list-style-type: square;
    color: rgb(41, 57, 75);
}
